@import "../theme/theme.css";
@import "tailwindcss/utilities";

.button {
  @apply px-sm py-sm rounded text-sm font-semibold transition;
}

.button-primary {@apply bg-button-primary text-button-text;}
.button-success {@apply bg-button-success text-button-text;}
.button-danger {@apply bg-button-danger text-button-text;}
.button-warning {@apply bg-button-warning text-button-text;}
.button-secondary {@apply bg-button-secondary text-button-text;}
.button-tertiary {@apply bg-button-tertiary text-button-text;}
