@import "../theme/theme.css";
@import "tailwindcss/utilities";

.input {
    @apply border border-input-border px-sm py-sm rounded text-input-text bg-input-bg w-full;
}

.select {
    @apply border border-input-border px-sm py-sm rounded text-input-text bg-input-bg w-full appearance-none;
}